.btn button{
    display: flex;
    padding: 20px 40px;
    background-color: green;
    color: white;
    margin: 20px;
    border: none;
}

.alert-1{
    display: none;
}

.alert-2{
    display: none;
}

.alert-3{
    display: none;
}

.alert-primary {
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: #084298;
    background-color: #cfe2ff;
    border-color: #b6d4fe;
}

.alert-secondary {
    width: 400px;
    margin: 20px 0px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: #41464b;
    background-color: #e2e3e5;
    border-color: #d3d6d8;
}

.alert-success {
    width: 400px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}